.form-group {
  margin: 12px 0;

  & > div {
    margin: 8px 0;
  }
}

.info-form-container {
  width: 800px;
  margin: 0 auto;
  margin-top: 50px;
}

.submit {
  padding: 10px 12px;
  background-color: lightblue;
  cursor: pointer;
  border-radius: 8px;
}

.info-form-container {
  height: 1000px;
}
