<div class="info-form-container">
  <form
    nz-form
    autocomplete="off"
    [formGroup]="skyForm"
    (ngSubmit)="formSubmit$.next(null)"
  >
    <ng-container formArrayName="sky">
      <nz-tabset>
        <nz-tab
          [nzTitle]="'lang ' + i"
          *ngFor="let item of getSkyControls() as any; let i = index"
        >
          <div>
            <ng-container [formGroupName]="i">
              <nz-form-item>
                <nz-form-control [nzErrorTip]="error">
                  <input placeholder="lang" formControlName="lang" nz-input />
                  <pre>{{ lang().at(i).get("lang")?.errors | json }}</pre>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-control [nzErrorTip]="error">
                  <input placeholder="name" formControlName="name" />
                </nz-form-control>
              </nz-form-item>
              <input placeholder="offerId" formControlName="offerId" />

              <div formArrayName="tiers">
                <nz-tabset>
                  <nz-tab
                    [nzTitle]="'tier ' + TierIndex"
                    *ngFor="
                      let tier of langTier(i).controls;
                      let TierIndex = index
                    "
                  >
                    <div [formGroupName]="TierIndex">
                      <nz-form-item>
                        <nz-form-control [nzErrorTip]="error">
                          <input
                            [type]="'number'"
                            nz-input
                            type="text"
                            formControlName="rank"
                            placeholder="rank"
                          />
                        </nz-form-control>
                      </nz-form-item>
                      <pre>{{ langTier(i).get("rank")?.errors | json }}</pre>
                      <input
                        type="text"
                        formControlName="name"
                        placeholder="name"
                      />
                      <div formArrayName="content">
                        <nz-tabset>
                          <nz-tab
                            [nzTitle]="'content ' + contentIndex"
                            *ngFor="
                              let tier of tierContent(i, TierIndex).controls;
                              let contentIndex = index
                            "
                          >
                            <div [formGroupName]="contentIndex">
                              <input
                                type="text"
                                formControlName="pri"
                                placeholder="pri"
                              />
                              <input
                                type="text"
                                formControlName="tac"
                                placeholder="tac"
                              />
                            </div>
                          </nz-tab>
                        </nz-tabset>
                      </div>
                    </div>
                  </nz-tab>
                </nz-tabset>
              </div>
            </ng-container>
          </div>
        </nz-tab>
      </nz-tabset>
    </ng-container>
  </form>
  <pre>{{ skyForm.value | json }}</pre>
</div>
<ng-template #error let-control>
  <ng-container *ngIf="control.hasError('required')"
    >Trường này không được để trống</ng-container
  >
  <ng-container *ngIf="control.hasError('min')"
    >Trường này nhỏ nhất ký tự</ng-container
  >
</ng-template>
